body {
    line-height: 175%;
    font-size: 18px;
    font-family: :"Times New Roman";
    background-color: lavender;
}

about, body-copy, scroll-container{
    background-color: #222;
}

h2, h3 {
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 200;
    padding: 15px 0px 60px;
    color: #888;
    text-align: center;
}

navbar, navbar-default{
    background-color: green;
    color: red;
}
